In [10]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv(r"data/data.csv")

In [12]:
X= data.drop(labels='Price', axis=1)

In [13]:
X

     Ratings   RAM    ROM  Mobile_Size  Primary_Cam  Selfi_Cam  Battery_Power
0        4.3   4.0  128.0         6.00           48       13.0           4000
1        3.4   6.0   64.0         4.50           48       12.0           4000
2        4.3   4.0    4.0         4.50           64       16.0           4000
3        4.4   6.0   64.0         6.40           48       15.0           3800
4        4.5   6.0  128.0         6.18           35       15.0           3800
..       ...   ...    ...          ...          ...        ...            ...
802      3.8   6.0   32.0         4.54           48       12.0           2800
803      4.1   8.0   64.0         4.54           64        8.0           2500
804      4.4   3.0   32.0         6.20           48        1.0           3800
805      3.7  10.0   32.0         4.50           64        8.0           3500
806      3.5   6.0   32.0         4.50           64       15.0           1050

[807 rows x 7 columns]

In [14]:
y = data[['Price']]

In [15]:
y

     Price
0    24999
1    15999
2    15000
3    18999
4    18999
..     ...
802   1299
803   1390
804   9790
805    799
806    799

[807 rows x 1 columns]

In [16]:
numerical_cols=X.select_dtypes(exclude='object').columns

In [17]:
numerical_cols

Index(['Ratings', 'RAM', 'ROM', 'Mobile_Size', 'Primary_Cam', 'Selfi_Cam',
       'Battery_Power'],
      dtype='object')

In [18]:
categorical_cols=X.select_dtypes(include='object').columns

In [19]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding

In [20]:
cat_pipeline=Pipeline(
    
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinalencoder',OrdinalEncoder(categories=[]))
    ]
    
)

In [21]:
num_pipeline=Pipeline(
    
    
    steps=[
        
        ('imputer',SimpleImputer()),
        ('scaler', StandardScaler())
    ]
    
    
)

In [22]:
preprocessor=ColumnTransformer(
    [
        
    ('num_pipeline',num_pipeline,numerical_cols),
        
    ]
)

In [23]:

## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [24]:
preprocessor.fit_transform(X_train)

array([[ 0.78715918,  0.03477308,  1.19783449, ...,  0.01345229,
         0.69536238,  0.53010806],
       [-1.64326662,  0.03477308,  0.00502292, ...,  0.01345229,
        -0.19952497, -0.29843827],
       [-0.02298275,  0.03477308, -0.59138286, ...,  0.01345229,
        -0.19952497, -0.29843827],
       ...,
       [-0.56307737,  0.03477308, -0.59138286, ...,  0.01345229,
         0.91908421, -0.29843827],
       [ 0.24706456, -0.97097126,  0.00502292, ...,  1.51213683,
        -0.19952497,  0.21940318],
       [-1.103172  ,  2.04626174, -0.59138286, ...,  1.51213683,
        -0.19952497,  0.21940318]])

In [25]:
preprocessor.get_feature_names_out()

array(['num_pipeline__Ratings', 'num_pipeline__RAM', 'num_pipeline__ROM',
       'num_pipeline__Mobile_Size', 'num_pipeline__Primary_Cam',
       'num_pipeline__Selfi_Cam', 'num_pipeline__Battery_Power'],
      dtype=object)

In [26]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [27]:
X_train

,num_pipeline__Ratings,num_pipeline__RAM,num_pipeline__ROM,num_pipeline__Mobile_Size,num_pipeline__Primary_Cam,num_pipeline__Selfi_Cam,num_pipeline__Battery_Power
0,0.787159,0.034773,1.197834,0.212575,0.013452,0.695362,0.530108
1,-1.643267,0.034773,0.005023,-0.290932,0.013452,-0.199525,-0.298438
2,-0.022983,0.034773,-0.591383,-0.280276,0.013452,-0.199525,-0.298438
3,-0.563077,-0.468099,-0.591383,-0.280276,0.013452,-0.199525,-0.298438
4,0.787159,-1.473843,-0.591383,0.201919,-0.923226,-0.199525,1.772928
...,...,...,...,...,...,...,...
559,0.517112,-2.479588,-0.889586,-0.290932,0.013452,-0.199525,-0.298438
560,0.247065,1.040517,0.005023,-0.219002,0.013452,-0.199525,-0.298438
561,-0.563077,0.034773,-0.591383,-0.280276,0.013452,0.919084,-0.298438
562,0.247065,-0.970971,0.005023,-0.290932,1.512137,-0.199525,0.219403
563,-1.103172,2.046262,-0.591383,-0.290932,1.512137,-0.199525,0.219403

In [28]:
X_test

,num_pipeline__Ratings,num_pipeline__RAM,num_pipeline__ROM,num_pipeline__Mobile_Size,num_pipeline__Primary_Cam,num_pipeline__Selfi_Cam,num_pipeline__Battery_Power
0,1.327254,-0.970971,0.005023,0.268521,-0.923226,-1.541856,1.772928
1,-0.022983,0.034773,-0.591383,-0.504057,1.512137,-0.199525,1.772928
2,0.787159,-1.976716,-0.591383,0.167286,-0.923226,-0.870690,0.768315
3,-0.022983,-1.473843,-0.591383,0.028755,-0.923226,-1.765578,-0.402007
4,1.327254,-0.970971,0.005023,0.161958,-1.204229,-0.199525,0.219403
...,...,...,...,...,...,...,...
238,-0.833125,0.034773,0.005023,-0.290932,1.512137,-0.199525,-0.298438
239,-1.913314,-2.479588,-1.113238,-0.237651,-0.923226,-1.541856,-0.505575
240,-0.022983,-2.479588,-0.889586,-0.157729,-4.014262,-1.541856,-0.816280
241,1.057206,0.034773,1.197834,0.055396,0.013452,0.695362,-0.194870
242,0.517112,-0.970971,1.197834,0.108677,0.013452,0.919084,0.737245

In [29]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [30]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [31]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet(),
    'RandomForestRegressor':RandomForestRegressor(),
    'SVR':SVR(),
    'DecisionTreeRegressor':DecisionTreeRegressor()
}

In [32]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [33]:
list(models)

['LinearRegression',
 'Lasso',
 'Ridge',
 'Elasticnet',
 'RandomForestRegressor',
 'SVR',
 'DecisionTreeRegressor']

In [34]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()
RandomForestRegressor()
SVR()
DecisionTreeRegressor()

In [35]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet', 'RandomForestRegressor', 'SVR', 'DecisionTreeRegressor'])

In [36]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet(), RandomForestRegressor(), SVR(), DecisionTreeRegressor()])

In [37]:


for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 18404.82594292891
MAE: 11497.806011918894
R2 score 39.141637820017706
===================================


Lasso
Model Training Performance
RMSE: 18404.56886786839
MAE: 11497.191098085521
R2 score 39.14333792388447
===================================


Ridge
Model Training Performance
RMSE: 18400.88300746844
MAE: 11489.27881416327
R2 score 39.167710860992585
===================================


Elasticnet
Model Training Performance
RMSE: 18299.5141460037
MAE: 10652.74342661164
R2 score 39.836104278033915
===================================

d:\work\Mobile-Price-Prediction\env\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor
Model Training Performance
RMSE: 7351.6090955230275
MAE: 2895.5582900725253
R2 score 90.28994602471306
===================================


SVR
Model Training Performance
RMSE: 26325.59733655071
MAE: 12513.957558231907
R2 score -24.512599375639677
===================================


DecisionTreeRegressor
Model Training Performance
RMSE: 10605.617163457722
MAE: 2491.2932719315436
R2 score 79.7917491880271
===================================

d:\work\Mobile-Price-Prediction\env\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [38]:
trained_model_list

[]

In [39]:
model_list

['LinearRegression',
 'Lasso',
 'Ridge',
 'Elasticnet',
 'RandomForestRegressor',
 'SVR',
 'DecisionTreeRegressor']

In [40]:
r2_list

[0.39141637820017705,
 0.3914333792388447,
 0.3916771086099259,
 0.3983610427803391,
 0.9028994602471306,
 -0.24512599375639677,
 0.797917491880271]