In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/data.csv")

target_column_name = 'Price'
drop_columns = [target_column_name]
            
input_feature_train_df = df.drop(columns=drop_columns,axis=1)
target_feature_train_df=df[[target_column_name]]
            
df.columns

Index(['Ratings', 'RAM', 'ROM', 'Mobile_Size', 'Primary_Cam', 'Selfi_Cam',
       'Battery_Power', 'Price'],
      dtype='object')

In [3]:
df.dtypes

Ratings          float64
RAM              float64
ROM              float64
Mobile_Size      float64
Primary_Cam        int64
Selfi_Cam        float64
Battery_Power      int64
Price              int64
dtype: object

In [14]:
target_feature_train_df

     Price
0    24999
1    15999
2    15000
3    18999
4    18999
..     ...
802   1299
803   1390
804   9790
805    799
806    799

[807 rows x 1 columns]

In [12]:
df

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,4.3,4.0,128.0,6.00,48,13.0,4000,24999
1,3.4,6.0,64.0,4.50,48,12.0,4000,15999
2,4.3,4.0,4.0,4.50,64,16.0,4000,15000
3,4.4,6.0,64.0,6.40,48,15.0,3800,18999
4,4.5,6.0,128.0,6.18,35,15.0,3800,18999
...,...,...,...,...,...,...,...,...
802,3.8,6.0,32.0,4.54,48,12.0,2800,1299
803,4.1,8.0,64.0,4.54,64,8.0,2500,1390
804,4.4,3.0,32.0,6.20,48,1.0,3800,9790
805,3.7,10.0,32.0,4.50,64,8.0,3500,799
806,3.5,6.0,32.0,4.50,64,15.0,1050,799

In [3]:
import pickle


with open('D:\\work\\Mobile-Price-Prediction\\artifacts\\preprocessor.pkl', 'rb') as f:
    data = pickle.load(f)

In [6]:
import pandas as pd

In [8]:
# pandas_df = pd.DataFrame(data)
df = pd.DataFrame(list(data.values()), index=data.keys())

AttributeError: 'ColumnTransformer' object has no attribute 'values'