In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/data.csv")

target_column_name = 'Price'
drop_columns = [target_column_name]
            
input_feature_train_df = df.drop(columns=drop_columns,axis=1)
target_feature_train_df=df[[target_column_name]]
            
df.columns

Index(['Ratings', 'RAM', 'ROM', 'Mobile_Size', 'Primary_Cam', 'Selfi_Cam',
       'Battery_Power', 'Price'],
      dtype='object')

In [3]:
df.dtypes

Ratings          float64
RAM              float64
ROM              float64
Mobile_Size      float64
Primary_Cam        int64
Selfi_Cam        float64
Battery_Power      int64
Price              int64
dtype: object

In [14]:
target_feature_train_df

     Price
0    24999
1    15999
2    15000
3    18999
4    18999
..     ...
802   1299
803   1390
804   9790
805    799
806    799

[807 rows x 1 columns]

In [12]:
df

,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,4.3,4.0,128.0,6.00,48,13.0,4000,24999
1,3.4,6.0,64.0,4.50,48,12.0,4000,15999
2,4.3,4.0,4.0,4.50,64,16.0,4000,15000
3,4.4,6.0,64.0,6.40,48,15.0,3800,18999
4,4.5,6.0,128.0,6.18,35,15.0,3800,18999
...,...,...,...,...,...,...,...,...
802,3.8,6.0,32.0,4.54,48,12.0,2800,1299
803,4.1,8.0,64.0,4.54,64,8.0,2500,1390
804,4.4,3.0,32.0,6.20,48,1.0,3800,9790
805,3.7,10.0,32.0,4.50,64,8.0,3500,799
806,3.5,6.0,32.0,4.50,64,15.0,1050,799

In [3]:
import pickle


with open('D:\\work\\Mobile-Price-Prediction\\artifacts\\preprocessor.pkl', 'rb') as f:
    data = pickle.load(f)

In [6]:
import pandas as pd

In [8]:
# pandas_df = pd.DataFrame(data)
df = pd.DataFrame(list(data.values()), index=data.keys())

AttributeError: 'ColumnTransformer' object has no attribute 'values'

In [14]:
import pandas as pd

In [42]:
data = pd.read_csv('data/new_data.csv')

In [34]:
data.dtypes

Unnamed: 0       int64
Ratings          int64
RAM              int64
ROM              int64
Mobile_Size      int64
Primary_Cam      int64
Selfi_Cam        int64
Battery_Power    int64
Price            int64
dtype: object

In [30]:
data_types_change = {'Ratings': int, 'RAM': int, 'ROM': int,'Mobile_Size':int,'Selfi_Cam':int}

In [26]:
data = data.astype(data_types_change)

In [27]:
data.dtypes

Unnamed: 0       int64
Ratings          int32
RAM              int32
ROM              int32
Mobile_Size      int32
Primary_Cam      int64
Selfi_Cam        int32
Battery_Power    int64
Price            int64
dtype: object

In [31]:
data = data.to_csv('new_data.csv')

In [43]:
data

,Unnamed: 0,Ratings,RAM,ROM,Mobile_Size,Primary_Cam,Selfi_Cam,Battery_Power,Price
0,0,4,4,128,6,48,13,4000,24999
1,1,3,6,64,4,48,12,4000,15999
2,2,4,4,4,4,64,16,4000,15000
3,3,4,6,64,6,48,15,3800,18999
4,4,4,6,128,6,35,15,3800,18999
...,...,...,...,...,...,...,...,...,...
802,802,3,6,32,4,48,12,2800,1299
803,803,4,8,64,4,64,8,2500,1390
804,804,4,3,32,6,48,1,3800,9790
805,805,3,10,32,4,64,8,3500,799
806,806,3,6,32,4,64,15,1050,799

In [44]:
data.dtypes

Unnamed: 0       int64
Ratings          int64
RAM              int64
ROM              int64
Mobile_Size      int64
Primary_Cam      int64
Selfi_Cam        int64
Battery_Power    int64
Price            int64
dtype: object

In [41]:
data.to_csv('new_data.csv')